*{
    margin: 0;
    padding: 0;
}
#contener{
   padding-top: 100px;
    margin: auto;
    height: 100%;
    width: 100%;
}
#calculator{
    margin: auto;
    width: 350px;
}
input{
    width: 234px;
    height: 82px;
    border: none;
    border-radius: 4px;
    margin: 0;
    font-size: 20px;
}
.button{
    background-color: white;
    margin: 1px;
    height: 75px;
    width: 75px;
    border: none;
    outline: none;
    border-radius: 4px;
    
}
#deletebtn{
    color: white;
    margin: 1px;
    height: 80px;
    margin-left:6px;
    background-color: red;
}
h3{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-family:Geneva, Verdana, sans-serif
}
.logotext,.logobtn{
    color: white;
    background-color:rgb(46, 45, 45);
    width: 100px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
    border: none;
    border-radius: 5px;
}
.logotext,.logobtn:hover{
    cursor: pointer;
}
img{
    margin-right: 5px;
    width: 20px;
    height: 20px;
   
}
.button:active{
    height: 70px;
    width: 70px;
    background-color:rgb(182, 179, 179);
}
